@* @model IEnumerable<DAL.ViewModels.CategoryNameViewModel> *@
@model DAL.ViewModels.MenuViewModel;
@using DAL.ViewModels

@{
    ViewData["Category"] = Model.SelectedCategory;
}

<div class="Menu-container p-3">

    <h3 class="custom-blue">Menu</h3> 


    <div class="switching-tabs-section d-flex justify-content-start gap-4 bg-white px-3 nav
                " role="tablist">

        <div class="d-flex justify-content-center gap-2 nav-link active p-3" id="nav-home-tab" data-bs-toggle="tab"
            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            <div><img src="~/images/icons/list-check.svg" alt="" class="small-img"></div>
            <div>Items</div>
        </div>
        <div class="d-flex justify-content-center gap-2 nav-link p-3" id="nav-profile-tab" data-bs-toggle="tab"
            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            <div><img src="~/images/sidebar icons/dashboard.png" alt="" class="small-img"></div>
  
            <div class="">Modifiers</div>
        </div>


    </div>
 
    @* category list for samll screen *@

    @* <div class="CategoryForSmallScreen d-lg-none bg-white mt-2 p-2 ">

       
        <div class="d-flex justify-content-between align-items-center p-1">
            <h5 class="custom-blue">Category</h5>
            <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">+
            </div>
        </div>
        <div class="d-flex flex-column p-2 gap-4 fw-medium overflow-auto h-100">
             @foreach(var c in Model.Categories){
            <div class="category-option-smallscreen d-flex justify-content-start align-items-center gap-2 ">
                <img src="~/images/icons/grid-3x2-gap-fill.svg" alt="" class="category-option-img">
                <div>@c.Name</div>
            </div>
        }
            
        </div>
    </div> *@

 
    <div class="tab-content bg-white mt-2 bg-white position-relative " id="nav-tabContent">

        @* ----first tab------- *@

        <div class="tab-pane fade show active w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0" style="max-height: 600px;overflow-y: scroll;">
            <div class="d-flex flex-column flex-md-row  w-100 gap-2 " id="menu_first_tab">
                <div class=" category-menu border-0 pt-3" id="category-menu">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Category</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                            onclick="openAddEditCategoryModal()">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="category-list">

                        @* category list  *@

                        @* -------partial view here of category list-------- *@

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="menuitem-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if(ViewBag.CanMenuDelete)
                            {
                                <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;"  onclick="openMassDeleteModalForMenuItem()">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                            
                            @if(ViewBag.CanMenuAddEdit)
                            {
                                <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block"  onclick="openAddEditMenuItemModal()"><span
                                    class="fs-5 fw-semibold" >+</span> New Item</button> 
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none" onclick="openAddEditMenuItemModal()">+</button>
                            }
                            
                        </div>
                    </div>
                    <div class="table-section bg-white mt-5 ms-2 me-2" id="menuTableContainer">
                       
                    </div> 
                   
                </div>

            </div>
 
        </div>
        @* -----------second tab------------ *@
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" style="max-height: 600px; overflow-y: scroll;">
                <div class="d-flex w-100 flex-column flex-md-row" id="Menu_second_tab">
                <div class=" category-menu border-0 pt-3 " id="ModifierGroup_menu">
                    <div class="d-flex justify-content-between align-items-center p-1">
                        <h5 class="custom-blue">Modifier Groups</h5>
                        <div class="custom-blue-border custom-blue px-2 rounded" style="font-size: 20px;"
                             onclick="openAddEditModifierGroupModal()">+
                        </div>
                    </div>
                    <div class="d-flex flex-column p-2 mt-5 gap-4 fw-medium overflow-auto h-75" id="modifier-list">

                        @* partial view of modifier list *@

                    </div>

                </div>
                <div class="d-flex flex-column flex-grow-1 pt-3 px-3 w-100 ">
                    <div class="d-flex justify-content-between">
                        <h5 class="custom-blue">Items</h5>
                    </div>
                    <div
                        class="search-delete-section d-flex justify-content-start justify-content-md-end align-items-center">
                        <div class="search-section d-flex gap-2 ">
                            <div class="position-relative" style="width: 180px;">
                                <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritems-search-field">
                                <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                            </div>
                            @if (ViewBag.CanMenuDelete)
                            {
                                <div class="d-flex justify-content-center align-items-center w-auto border rounded px-3 " style="cursor: pointer;" onclick="openMassDeleteModalForModifierItem()">
                                <img src="~/images/icons/trash.svg" alt="" srcset="" style="width: 20px;"
                                    class="small-img" >
                            </div>
                            }
                            @if(ViewBag.CanMenuAddEdit)
                            {
                                <button type="button" class=" custom-btn-bg text-white p-2 border d-none d-md-block" onclick="openAddEditModifierItemModal()"><span
                                    class="fs-5 fw-semibold" >+</span> New
                                Item</button>
                            <button type="button"
                                class=" custom-btn-bg text-white px-3 border fs-5 fw-bold d-md-none" onclick="openAddEditModifierItemModal()">+</button> 
                            }
                            
                        </div>
                    </div>
                    <div class="table-section bg-white  mt-5 ms-2 me-2" id="modifieritemstablecontainer">
                       
                    </div> 
                   
                </div>

            </div>
            </div>
    </div>


    <!-- add Edit category modal --> 
    <div class="modal fade" id="categoryAddEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
           
            <div class="modal-content" id="categoryAddEditFormContent">

                @* Partial View Of Add Edit Category form *@

            </div>
           
            
        </div>
    </div>

      <!-- AddEdit Menu Item modal --> 

     <div class="modal fade " id="AddEditMenuItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" >
            <div class="modal-content w-100 h-100 overflow-x-auto" id="AddEditMenuItemContent" >
                
            </div>
        </div> 
    </div>

     <!-- Add Edit modifierGroup modal -->
    <div class="modal fade" id="addEditModifierGroupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100" id="addEditModifierGroupFormContent">

                @* Partial View Of Add Edit Modifier Group Form *@
            </div>
        </div>
    </div>

    <!-- Add Edit Modifier Item Modal -->

<div class="modal fade " id="AddEditModifierItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered w-75 "  style="max-width: 100%">
            <div class="modal-content w-100" id="AddEditModifierItemModalContent">
                
            </div>
        </div>
    </div>

    <!-- show modifieritemslist modal for add edit existing modifier item modal--> 
    <div class="modal fade" id="modifierItemLIstForAddExistingModifierModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="staticBackdropLabel">Select Existing Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative m-2" style="width: 280px;">
                    <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritemsforaddmodal-search-field">
                    <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                </div>
                <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifierItemTableContainerForModal">
                       
                </div> 
                <div class="d-flex justify-content-end gap-2 p-2">
                    <button  class="btn custom-btn-bg text-white fw-medium" onclick="handleAddButtonClickForAdd()">Add</button>
                    <button type="button" class="btn btn-secondary"  onclick="closeAddExistingModifierItemModal()">Cancel</button>
                </div>
            </div>  
        </div>
    </div>

    <!-- show modifieritemslist modal for add modifier -->
    <div class="modal fade" id="modifieritemslistforadd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content w-100">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-secondary" id="staticBackdropLabel">Select Existing Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="position-relative m-2" style="width: 280px;">
                    <input type="text" class="p-2 w-100" placeholder="Search" id="modifieritemsmodal-search-field">
                    <img src="~/images/icons/search.svg" alt="" class="searchicon-img">
                </div>
                <div class="table-section bg-white table-responsive mt-5 ms-2 me-2" id="modifieritemstablecontainerofmodal">
                       
                </div> 
                <div class="d-flex justify-content-end gap-2 p-2">
                    <button  class="btn custom-btn-bg text-white fw-medium" onclick="handleAddButtonClickForAdd()">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
                
        </div>
    </div>

      @* ---------------- Delete category modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletecategorymodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this Category?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteCategoryBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

      @* ---------------- Delete Modifier Group modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteModifierGroupmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteModifierGroupBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

      @* ---------------- Delete Modifier Item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteModifieritemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">

                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteModifierItemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    
</div>

      @* ---------------- Delete item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deleteitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deleteitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
      @* ---------------- Delete mass menu item modal body------------------- *@

    <div class="modal" tabindex="-1" id="deletemassmenuitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemassmenuitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
      @* ---------------- Delete item modal body from mass delete------------------- *@

    <div class="modal" tabindex="-1" id="deletemassitemmodal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3" style="width: 420px !important;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                    <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete This Item?</div>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                    <a id="deletemassitemBtn">
                        <button type="button" class="btn btn-primary px-4">Yes</button>
                    </a>
                    <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    @* -------------------------------------------------------------- *@
</div> 






@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script> *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
@* <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.5/additional-methods.min.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/MenuItem.js"></script>
<script src="~/js/MenuCategory.js"></script>
<script src="~/js/ModifierGroup.js"></script>
<script src="~/js/ModifierItem.js"></script>

<script>

//-----Pagination For Menu Items List------- 
function MenuitemsPaginationAjax(pageSize,pageNumber,category_id) {

    let cat_id= $("#category-list .category-active-option").attr("category-id");
    let searchkeyword = $("#menuitem-search-field").val();
       
        $.ajax({
            url: "/Menu/Menu",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'cat':cat_id},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $('#menuTableContainer').html(data);
                attachMassDeleteForMenuItem();
            },
            error: function () {
                $("#menuTableContainer").html('An error has occurred');
            }
        });
    }

// -----Pagination For Modifier Items List Modal------- 
function PaginationAjax(pageSize,pageNumber) {

    // Get the dropdown element
    let pageSizeDropdown = document.getElementById("pageSizeDropdownformodal");
    let searchkeyword = $("#modifieritemsforaddmodal-search-field").val();
    
    // Store the currently selected value
    let selectedPageSize = pageSizeDropdown?.value;

    console.log("inside pag ajax",searchkeyword)
        @* if (pageNumber === 0) {
            pageNumber = @((Model?.Page?.CurrentPage ?? 1));
        } *@
        $.ajax({
            url: "/Menu/GetAllModifierItemsList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword},
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#modifierItemTableContainerForModal").html(data);
                @* onPartialViewLoaded(); // Ensure checkboxes update after reloading the partial *@
                checkSelectedCheckboxes();
                attachCheckboxListnerModifierItemForEditModal();
    
            },
            error: function () {
                alert("No Projects Found");
                
                $("#modifieritemstablecontainerofmodal").html('An error has occurred');
            }
        });
    }

// -----Pagination For Modifier Items List------- 

function ModifieritemsPaginationAjax(pageSize,pageNumber,modifiergroup_id) {
     // Get the dropdown element
   
    modifiergroup_id = $("#modifier-list .category-active-option").attr("modifiergroup-id");
    let pageSizeDropdown = document.getElementById("pageSizeDropdownformodal");
    let searchkeyword = $("#modifieritems-search-field").val();

    console.log("inside pag ajax",pageSize) 
       
        $.ajax({
            url: "/Menu/GetModifierItemsList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber,'searchKeyword':searchkeyword,'modifiergroup_id':modifiergroup_id},
            type: "GET",
            dataType: "html",
            success: function (data) {

                $('#modifieritemstablecontainer').html(data);
                attachMassDeleteForModifierItem();
                
            },
            error: function () {
                @* $("#modifieritemstablecontainer").html('An error has occurred'); *@
            }
        });
    }


    $(document).ready(function () {

         
        loadcategories();
        loadmodifiers();
        ModifieritemsPaginationAjax();
        MenuitemsPaginationAjax();
       
    });

</script> 