@{
    ViewData["Title"] = "Access Denied";
    Layout = null;
}

<h2>Access Denied</h2>
<p>You do not have permission to Access this page.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go Back</a>
