@model List<DAL.ViewModels.CategoryNameViewModel>


<h5 class="custom-blue fw-bold py-2 px-3 d-none d-md-block">Category</h5>
<div class=" py-2 px-3 orderApp-category-item " style="cursor: pointer;" onclick="loadMenuItems(null,'',true)" data-catid="-1">Favourite</div>
<div class=" py-2 px-3 orderApp-category-item OrderApp_menu_active_option " style="cursor: pointer;" onclick="loadMenuItems()" data-catid="0">All</div>
@foreach(var i in Model)
{
    <div class=" py-2 px-3 orderApp-category-item " style="cursor: pointer;" onclick="loadMenuItems(@i.Id)" data-catid="@i.Id">@i.Name</div>
}


