@model DAL.ViewModels.OrderCustomerDetailViewModel


<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Customer Details</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form id="customerDetailForm" class="d-flex flex-column gap-3">
        <input type="text" class="form-control" asp-for="OrderId" hidden>
        <input type="text" class="form-control" asp-for="CustomerId" hidden>

        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Name" placeholder="Name">
            <label>Name</label>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="d-flex justify-content-between gap-2 row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" asp-for="TotalPerson" placeholder="No. Of Person">
                    <label>No. Of Person</label>
                    <span class="text-danger" asp-validation-for="TotalPerson"></span>
                </div>
            </div>
            <div class="col">
                 <div class="form-floating">
                <input type="text" maxlength="10" class="form-control" asp-for="Mobile" placeholder="Mobile No.">
                <label>Mobile</label>
                <span class="text-danger" asp-validation-for="Mobile"></span>
                </div>
            </div>
        </div>

        <div class="form-floating">
            <input type="email" class="form-control disabled-toggle" asp-for="Email" placeholder="name@example.com" tabindex="-1">
            <label>Email</label>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn custom-btn-bg text-white">Save</button>
            <button type="button" class="btn custom-blue-border" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>