@model DAL.ViewModels.AddEditWaitingTokenViewModel

@{
    var formId = ViewData["FormId"] as string ?? "AddEditWaitingTokenForm";
}

<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Waiting Token Details</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form id="@formId" class="d-flex flex-column gap-3"> 
        <input type="text" class="form-control" asp-for="Tokenid" hidden>
        <div class="form-floating">
            <input type="email" class="form-control" asp-for="Customer.Email" placeholder="name@example.com">
            <label>Email</label>
             <span class="text-danger" asp-validation-for="Customer.Email"></span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Customer.Name" placeholder="Name">
            <label>Name</label>
             <span class="text-danger" asp-validation-for="Customer.Name"></span>
        </div>
        <div class="form-floating">
            <input type="text" maxlength="10" class="form-control" asp-for="Customer.Mobile" placeholder="Mobile No.">
            <label>Mobile</label>
             <span class="text-danger" asp-validation-for="Customer.Mobile"></span>
        </div>

        <div class="d-flex justify-content-between gap-2 row">
            <div class="col">
                <div class="form-floating">
                    <input type="number" class="form-control" asp-for="Customer.TotalPerson" placeholder="No. Of Person">
                    <label>No. Of Person</label>
                     <span class="text-danger" asp-validation-for="Customer.TotalPerson"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" asp-for="Sectionid">
                        <option value="">Section</option>
                        @foreach (var c in Model.Sections)
                        {
                            <option value=@c.SectionId>@c.SectionName</option>
                        }
                    </select>
                    <label>Section</label>
                     <span class="text-danger" asp-validation-for="Sectionid"></span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn custom-btn-bg text-white">Save</button>
            <button type="button" class="btn custom-blue-border" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>