@{
    Layout = "~/Views/Shared/_OrderAppLayout.cshtml";
}

@model DAL.ViewModels.WaitingListMainViewModel
<div>
    <div class="p-5">
        <div class="mb-4 d-flex justify-content-between">
            <h2 class="custom-blue fw-semibold ">Waiting List</h2>
            <div class="custom-blue-border custom-blue p-2 d-flex align-items-center rounded text-nowrap" type="button"
                onclick="openWaitingTokenModal(1)">
                <span>+ Waiting Token</span>
            </div>
        </div>


        <div class="switching-tabs-section d-flex justify-content-start bg-white px-3 nav shadow overflow-auto flex-nowrap" " role="
            tablist" id="section_list">
            @* pv *@
        </div>

        <div class=" shadow mt-3 bg-white" id="waiting_List_container">
            @* pv *@
        </div>
    </div>
</div>


@* ===== modal ======= *@

<div class="modal fade" id="waitingtokenmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Waiting Token Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addWaitingTokenForm" class="d-flex flex-column gap-3">
                    <input type="text" class="form-control" name="TokenId" hidden>
                    <div class="form-floating">
                        <input type="email" class="form-control" name="Customer.Email" placeholder="name@example.com">
                        <label>Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" name="Customer.Name" placeholder="Name">
                        <label>Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" maxlength="10" class="form-control" name="Customer.Mobile"
                            placeholder="Mobile No.">
                        <label>Mobile</label>
                    </div>

                    <div class="d-flex justify-content-between gap-2 row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="number" class="form-control" name="Customer.TotalPerson"
                                    placeholder="No. Of Person">
                                <label>No. Of Person</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" name="SectionId">
                                    <option value="">Section</option>
                                    @foreach (var c in Model.section)
                                    {
                                        <option value=@c.SectionId>@c.SectionName</option>
                                    }
                                </select>
                                <label>Section</label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end gap-2">
                        <button type="submit" class="btn custom-btn-bg text-white">Save</button>
                        <button type="button" class="btn custom-blue-border" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@* === Delete Token Modal === *@

<div class="modal" tabindex="-1" id="deleteWaitingTokenModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3" style="width: 420px !important;">

            <div class="modal-body">
                <div class="d-flex justify-content-center"><img src="~/images/warning.png" alt="" width="40"></div>
                <div class="d-flex justify-content-center mt-3">Are You Sure You Want To Delete this?</div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <a id="deleteWaitingTokenBtn" onclick="deleteToken(this)">
                    <button type="button" class="btn btn-primary px-4">Yes</button>
                </a>
                <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@*  === Assign Table Form ==*@
<div class="modal" tabindex="-1" id="assignTableModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form id="TableAssignForm" class="d-flex flex-column gap-3">
                    <input type="text" name="TotalPerson" hidden value="">
                    <input type="text" name="TokenId" hidden value="">

                    <div class="d-flex justify-content-between gap-2 row">
                        <div class="col">
                            <div class="col">
                                <div class="form-floating">
                                    <select class="form-select disabled-toggle" name="SectionId">
                                        <option selected value="">Section</option>
                                        @foreach (var c in Model.section)
                                        {
                                            <option value="@c.SectionId">@c.SectionName</option>
                                        }
                                    </select>
                                    <label>Section</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="position-relative">
                                <!-- Display Selected Tables -->
                                <div class="form-control p-3" id="tableSelectBox" style="cursor: pointer;">
                                    Select Table
                                </div>
                                <span class="text-danger d-none" id="selectTableValidation">Please select a table</span>

                                <!-- Floating Checkbox List (Appended dynamically) -->
                                <div id="tableDropdown" class="position-absolute bg-white border rounded p-2 shadow overflow-auto"
                                    style="display: none; z-index: 1000; width: 100%; max-height:200px">
                                    <!-- AJAX table checkboxes inserted here -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end gap-2">
                        <button type="submit" class="btn custom-btn-bg text-white">Assign</button>
                        <button type="button" class="btn custom-blue-border" data-bs-dismiss="offcanvas">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/OrderAppWaitingList/OrderAppWaitingList.js"></script>